.addOrder__form {
  width: 70%;
  margin-top: 50px;
  margin-left: 1rem;
}

.addOrder__form input,
textarea {
  margin: 1rem 0.5rem;
}

.uploadProject {
  color: #009444;
  border: 1px solid #009444;
  padding: 0.5rem;
  width: 100%;
  border-radius: 10px;
  margin-top: 0.8rem;
  background: #00944527;
}

@media (max-width: 768px) {
  .addOrder__form {
    min-width: 80%;
  }
}
